/* Shared for all accordion types */
.accordion {
  padding: 0 5px;
  margin: 0;

  list-style: none;
}

.accordion__item {
  margin: 0;
  padding: 0;

  overflow: hidden;

  border-top: 1px solid #f3c72b;
}

.accordion__title {
  display: block;
  padding: 11px 0;
  padding-bottom: 12px;

  position: relative;

  font-size: 16px;
  line-height: 16px;
  color: $blue-base;
  font-weight: 700;
  text-transform: uppercase;

  &::after {
    display: block;
    width: 5px;

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    border: 4px solid $blue-nav-text;

    border-top-width: 4px;

    border-bottom-width: 0;
    border-left-color: transparent;
    border-right-color: transparent;

    content: "";
  }
}

.accordion__body {
  padding: 0;
  overflow: hidden;
  height: 0;
  border-top: 0;

  &_inline {
    display: flex;
    flex-wrap: wrap;
  }
}

.accordion__body-control:checked ~ .accordion__body {
  height: auto;
  padding-top: 4px;
  padding-bottom: 8px;
}

.accordion__body-control:checked ~ .accordion__title::after {
  border-bottom-width: 4px;
  border-top-width: 0;
}

.accordion__value {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 12px;

  position: relative;

  font-size: 15px;
  line-height: 15px;

  &::before {
    display: block;
    margin-right: 9px;

    width: 18px;
    height: 18px;

    background-color: #ffffff;
    border-radius: 2px;

    content: "";
  }

  &::after {
    display: block;
    width: 9px;
    height: 9px;

    position: absolute;
    top: 5px;
    left: 5px;

    background: url("../../img/tick.svg");
    opacity: 0;

    content: "";
  }

  &_btn {
    width: 32px;
    height: 33px;
    margin-top: 2px;
    margin-bottom: 10px;

    background-color: #ffffff;
    border-radius: 50%;

    &::before,
    &::after {
      content: unset;
    }
  }
}

.accordion___transport {
  margin: auto;

  opacity: 0.15;

  &_plane {
    width: 14px;
    height: 16px;
  }

  &_bus {
    width: 13px;
    height: 16px;
  }

  &_bike {
    width: 19px;
    height: 17px;
  }

  &_run {
    width: 15px;
    height: 17px;
  }
}

.accordion__level-input-wrapper {
  display: flex;
  margin-bottom: 22px;
}

.accordion__level-label {
  width: 50%;
}

.accordion__level-input {
  width: 100%;

  color: $blue-base;
  font-size: 15px;
  line-height: 31px;
  font-weight: bold;
  text-align: center;
  font-family: $font-family;

  border: 1px solid #cbced9;
  border-radius: 4px 0 0 4px;
}

// Second input
.accordion__level-label + .accordion__level-label .accordion__level-input {
  border-left: none;
  border-radius: 0 4px 4px 0;
}

.accordion__level-label + .accordion__level-label {
  position: relative;

  &::before {
    display: block;
    width: 16px;
    height: 11px;

    position: absolute;
    top: 50%;
    left: -8px;
    transform: translateY(-50%);

    background: linear-gradient(to bottom, #ffffff 5px, #cbced9 5px, #cbced9 6px, #ffffff 6px);
    content: "";
  }
}

// SLIDER
.accordion__level-slider {
  height: 2px;
  padding: 0 10px;
  margin-bottom: 18px;

  position: relative;
  left: -10px;
  right: -10px;

  background-color: $blue-base;
}

.accordion__level-slider-element {
  display: block;
  width: 10px;
  height: 10px;
  padding: 0;

  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);

  font-size: 0;

  background-color: $blue-base;

  border: none;
  border-radius: 50%;
}

.accordion__level-slider-element_from {
  left: 35%;

  &::before {
    display: block;
    height: 2px;

    position: absolute;
    top: 50%;
    right: 10px;
    left: -9999px;
    transform: translateY(-50%);

    background-color: #d2b54e;
    content: "";
  }
}

.accordion__level-slider-element_to {
  left: 100%;

  &::after {
    display: block;
    height: 2px;

    position: absolute;
    top: 50%;
    right: -9999px;
    left: 10px;
    transform: translateY(-50%);

    background-color: #d2b54e;
    content: "";
  }
}


.accordion__value-control:checked + .accordion__value::after {
  opacity: 1;
}

.accordion__value-control:checked + .accordion__value .accordion___transport {
  opacity: 1;
}
