.companions-filter {
  padding: 25px;
  margin: 0 25px;
  margin-bottom: 28px;

  background-color: $yellow-base;
  border-radius: 20px;
}

.companions-filter__title {
  margin: 0;
  color: $blue-base;
}
