.companions-country-filter {
  padding: 10px 25px;
  padding-top: 32px;
  margin-top: -20px;
  margin-bottom: 24px;

  position: absolute;
  left: 0;
  right: 0;
  z-index: 5;

  background-color: #e2e5f2;
  border-radius: 0 0 20px 20px;
}

@media #{$media-tablet-more} {
  .companions-country-filter {
    padding: 0 74px;

    padding-top: 53px;
    margin-top: -50px;
    margin-bottom: 46px;

    border-radius: 0 0 60px 60px;
  }

}
