.companions {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
}

.companions__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.companions__profile {
  margin-bottom: 10px;
}


.companions__show-more-btn {
  margin: 0 auto;

  text-align: center;
  color: $blue-base;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;

  @include cross-before;
}

@media #{$media-desktop-more} {
  .companions {
    padding: 0;
  }
}
