.contacts-paragraph {
  margin: 0;
}

.contacts-paragraph__link {
  display: flex;
  align-items: center;

  position: relative;

  color: $blue-nav-text;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 45px;

  &::before {
    margin-right: 16px;
    width: 45px;
    height: 45px;

    background-color: #121936;
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    content: "";
  }

  &_phone {
    &::before {
      background-image: url("../img/contacts-phone-yellow.svg");
    }

    &:hover::before {
      background-image: url("../img/contacts-phone-orange.svg");
    }
  }

  &_email {
    &::before {
      background-image: url("../img/contacts-mail-yellow.svg");
    }

    &:hover::before {
      background-image: url("../img/contacts-mail-orange.svg");
    }
  }

  &_color_yellow {
    color: $yellow-base;
  }
}

@media #{$media-tablet-more} {
  .contacts-paragraph__link {
    font-size: 28px;
    line-height: 28px;

    &::before {
      width: 68px;
      height: 68px;
      margin-right: 23px;

      background-size: 27px;
    }
  }
}

@media #{$media-desktop-more} {
  .contacts-paragraph__link::before {
    width: 90px;
    height: 90px;
    margin-right: 30px;

    background-size: 36px;
  }
}
