.country-selector {
  display: flex;
  padding-top: 2px;
  padding-left: 1px;
  margin-bottom: 20px;

  position: relative;

  &::before {
    display: block;
    width: 8px;
    height: 8px;

    position: absolute;
    top: 52%;
    right: 50px;
    z-index: 10;

    background-color: #ffffff;
    border: 1px solid #ced0db;
    border-radius: 50%;

    transform: translateY(-50%);

    content: "";
  }
  // arrow to bottom
  &:not(:last-of-type)::after {
    width: 6px;
    height: 10px;
    position: absolute;
    right: 50px;
    bottom: -7px;

    content: url("../img/small-arrow.svg");
  }

  &_selected::before {
    background-color: $blue-base;
    border: none;
  }
}

.country-selector__select-btn {
  height: 42px;
  padding-left: 10px;
  flex-grow: 1;

  position: relative;

  color: $blue-base;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 1.4px;
  text-align: left;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid #cbced9;
  border-radius: 4px;

  cursor: pointer;

  &::after {
    display: block;
    width: 25px;
    height: 30px;

    position: absolute;
    right: 0;
    top: 50%;

    transform: translateY(-50%);

    background: #ffffff url("../img/dropdown-form.svg") no-repeat left/12px 7px;
    box-shadow: -13px 0 10px 0 #ffffff;

    content: "";
  }

  &_add-element {
    padding-left: 12px;
    margin-bottom: 5px;

    background-color: #edeff6;
    border: none;

    position: relative;

    @include cross(14px, 2px, #c2c4c9);

    &::before,
    &::after {
      top: 48%;
      right: 15px;

      box-shadow: unset;
    }
  }
}

.country-selector__flag {
  display: block;
  width: 53px;
  height: 42px;

  padding: 8px;

  border: 1px solid #cbced9;
  border-radius: 4px;
}

.country-selector__cancel-btn {
  display: block;
  width: 21px;
  height: 21px;

  position: absolute;
  top: -8px;
  right: -8px;

  font-size: 0;

  cursor: pointer;

  background-color: #edeff6;
  border: none;
  border-radius: 50%;

  @include cross(11px, 1px, #a5a7ac);

  &::before,
  &::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

@media #{$media-tablet-more} {
  .country-selector__wrapper {
    padding-top: 41px;
    padding-bottom: 30px;

    position: relative;

    border-top: 1px solid #d6d9e6;

    &::before {
      display: block;
      width: 1px;

      position: absolute;
      right: 136px;
      top: 0;
      bottom: 0;
      // z-index: -1;

      background-color: #d6d9e6;
      box-shadow: inset 0 -136px 76px -53px #ffffff;

      content: "";
    }

    .country-selector__flag {
      width: 70px;
      height: 47px;
      padding: 0;
      margin-top: 12px;

      border: none;
    }
  }

  .country-selector {
    padding: 0;
    margin-bottom: 15px;
  }

  .country-selector__select-btn {
    max-width: 369px;
    height: auto;
    padding-left: 25px;
    margin-right: 53px;

    font-size: 20px;
    line-height: 66px;
    letter-spacing: 0.1em;

    &::after {
      width: 43px;
      background-size: 17px 9px;
    }
  }

  .country-selector::before {
    width: 15px;
    height: 15px;

    top: 26px;
    right: 129px;
    transform: unset;
  }

  .country-selector:last-of-type::before {
    top: 25px;

    background-color: #edeff6;
  }

  .country-selector__cancel-btn {
    top: 23px;
    right: -4px;

    background-color: transparent;

    &::before,
    &::after {
      width: 24px;
    }
  }

  .country-selector:not(:last-of-type)::after {
    content: unset;
  }

  .country-selector__select-btn_add-element::before,
  .country-selector__select-btn_add-element::after {
    width: 18px;

    right: 27px;
  }
}

@media #{$media-desktop-more} {
  .country-selector__wrapper {
    padding-top: 61px;
    padding-bottom: 37px;
  }

  .country-selector__select-btn {
    margin-right: 85px;

    max-width: 730px;
  }

  .country-selector__cancel-btn {
    right: 5px;
  }

  .country-selector__wrapper::before {
    right: 225px;
    bottom: -125px;
  }

  .country-selector::before {
    right: 218px;
  }
}
