.country-picker {
  display: none;
  padding: 0 25px;
}

.companions-country-filter__country-picker-control:checked ~ .country-picker {
  display: block;
}

.country-picker__name-word-part {
  display: block;

  line-height: 22px;
  font-size: 16px;
  font-weight: 700;

  color: $blue-nav-text;

  opacity: 0.3;
}

.country-picker__name-word-part-control[id$="europe"]:checked ~ .country-picker-bar .country-picker__name-word-part[for$="europe"],
.country-picker__name-word-part-control[id$="europe"]:checked ~ .country-picker .country-picker__name-word-part[for$="europe"],
.country-picker__name-word-part-control[id$="asian"]:checked ~ .country-picker-bar .country-picker__name-word-part[for$="asian"],
.country-picker__name-word-part-control[id$="asian"]:checked ~ .country-picker .country-picker__name-word-part[for$="asian"],
.country-picker__name-word-part-control[id$="usa"]:checked ~ .country-picker-bar .country-picker__name-word-part[for$="usa"],
.country-picker__name-word-part-control[id$="usa"]:checked ~ .country-picker .country-picker__name-word-part[for$="usa"],
.country-picker__name-word-part-control[id$="islands"]:checked ~ .country-picker-bar .country-picker__name-word-part[for$="islands"],
.country-picker__name-word-part-control[id$="islands"]:checked ~ .country-picker .country-picker__name-word-part[for$="islands"] {
  opacity: 1;
}

.country-picker__alphabet {
  border: 1px solid #cbced9;
  border-collapse: collapse;
}

.country-picker__tr {
  height: 42px;
}

.country-picker__td {
  width: 45px;
  height: 42px;
}

.country-picker__letter {
  display: block;
  width: 45px;
  height: 42px;

  color: $blue-base;
  font-weight: 500;
  font-size: 14px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;

  background-color: #ffffff;
}

.country-picker__letter-control:checked + .country-picker__letter {
  color: #ffffff;

  background-color: $blue-base;
}

.country-picker__country {
  display: block;

  color: #444444;

  background-color: transparent;
  border: none;
}

.country-picker__close-btn {
  display: block;
  width: 100%;
  height: 40px;

  line-height: 40px;
  font-size: 17px;
  font-weight: 700;

  background-color: #d6daed;
  border: none;
  border-radius: 20px;

  @include cross-before;

  &::before,
  &::after {
    left: 55px;

    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }
}

.country-picker__name-words {
  display: none;
}

@media #{$media-tablet-more} {
  .country-picker__name-words {
    display: flex;
  }

  .companions-country-filter__country-picker-control:checked ~ .country-picker {
    display: flex;
  }

  .country-picker {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .country-picker__name-words-mobile {
    display: none;
  }

  .country-picker__name-word-part {
    margin-right: 20px;

    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
  }
}
