.interaction-buttons {
  height: 255px;
  /* margin-bottom: 45px; */

  position: relative;

  background: url("../../img/globe-back-mobile@1x.jpg") no-repeat;
  background-position: center -223px;
  background-size: cover;

  &::before {
    display: block;
    height: inherit;
    background: url("../../img/traveller-illustration-mobile@1x.png") no-repeat 79px 0;
    content: "";
  }
}

.interaction-buttons__buttons {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;

  &_tablet {
    display: none;

    position: static;

    transform: none;
  }
}

@media #{$media-tablet-more} {
  .interaction-buttons {
    display: none;
  }
}
