.mobile-menu {
  display: none;

  &_open {
    display: block;
  }
}

.mobile-menu__nav {
  padding-top: 58px;
}

.mobile-menu__soc {
  display: flex;
  justify-content: space-between;
  width: 107px;
  margin: 0 auto;
  padding-bottom: 38px;
}

.mobile-menu__link {
  font-size: 0;

  width: 23px;
  height: 23px;

  &_fb {
    background: url("../../img/facebook-gray.svg") center/11px 21px no-repeat;
  }

  &_vk {
    background: url("../../img/vk-gray.svg") center/23px 12px no-repeat;
  }

  &_inst {
    background: url("../../img/instagram-gray.svg") center/18px no-repeat;
  }
}

.mobile-menu__link-btn {
  padding-top: 50px;
}

.mobile-menu__link-btn-pos {
  margin: 0 auto;
}

.mobile-menu__contacts-paragraph:first-of-type {
  padding-top: 52px;
}

.mobile-menu__contacts-paragraph:last-of-type {
  margin-bottom: 42px;
}

.mobile-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-menu__nav-item {
  text-align: center;
  color: $blue-nav-text;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
}

@media #{$media-tablet-more} {
  .mobile-menu {
    padding-left: 57px;
  }

  .mobile-menu__nav {
    padding-top: 86px;
  }

  .mobile-menu__list {
    margin-bottom: 84px;
  }

  .mobile-menu__nav-item {

    text-align: left;

    line-height: 71px;
    font-size: 60px;
  }

  .mobile-menu__link-btn {
    display: none;
  }


}
