.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &::before {
    display: block;
    width: 60px;
    height: 1px;
    margin-right: 45px;

    background-color: #ffffff;

    content: "";
  }
}

.nav__list {
  display: flex;
  padding: 0;
  margin: 0;

  list-style: none;
}

.nav__item {
  margin-right: 45px;

  text-transform: uppercase;
  color: #ffffff;
}
