.page-header {
  padding-top: $mobile-top-bar-height;

  background-color: #161c36;
  border-radius: 0 0 30px 30px;

  position: relative;

  &_long {
    padding-bottom: 33px;
    border-radius: 0;
  }
}

.page-header__title {
  margin: 0;
  margin-bottom: 14px;
  padding: 0 30px;
  padding-top: 32px;

  text-align: center;
  color: #ffffff;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
}

.page-header__interaction-buttons {
  display: none;
}

@media #{$media-tablet-more} {
  .page-header {
    padding-top: $tablet-top-bar-height;
    margin-bottom: 70px;

    border-radius: 0 0 60px 60px;
    background-color: #182044;
  }

  .page-header__title {
    padding: 0 180px;
    padding-top: 66px;
    margin-bottom: 44px;

    font-size: 60px;
    line-height: 70px;
  }

  .page-header__interaction-buttons {
    display: flex;
  }
}

@media #{$media-between-tablet-desktop} {
  .page-header__desktop-wrapper {
    background: url("../../img/traveller-illustration-tablet@1x.png") no-repeat 60% 320px,
      url("../../img/globe-back-tablet@1x.jpg") left 293px no-repeat;
    border-radius: 0 0 60px 60px;
  }
}

@media #{$media-desktop-less} {
  .page-header__nav {
    display: none;
  }
}

@media #{$media-desktop-more} {
  .page-header {
    padding-top: $desktop-top-bar-height;

    background-color: #192144;
  }

  .page-header__title {
    width: 466px;
    padding: 0;
    padding-left: 69px;

    text-align: left;
  }

  .page-header__desktop-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
    padding-top: 115px;
    padding-bottom: 27px;
    margin-bottom: 71px;

    justify-content: space-between;

    background: url("../../img/traveller-illustration-desktop@1x.png") no-repeat 60% bottom, url("../../img/globe-back-desktop@1x.jpg") bottom no-repeat;
    background-color: #161c34,;
    border-radius: 0 0 60px 60px;
  }

  .page-header__hot-use {
    padding-top: 60px;
  }
}
