.page-header {
  background: linear-gradient(to bottom, #161c36 478px, #161c35 478px, #161c35 763px, #192144 763px);
  border-radius: 0 0 30px 30px;

  &_long {
    padding-bottom: 33px;
    border-radius: 0;
  }
}

.page-header__title {
  margin: 0;
  margin-bottom: 14px;
  padding: 0 30px;
  padding-top: 32px;

  text-align: center;
  color: #ffffff;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
}
