.page-footer {
  padding: 38px 25px 0 25px;
  margin-top: -25px;

  position: relative;
  z-index: 5;

  background-color: #ffffff;
  border-radius: 30px 30px 0 0;

}

.page-footer__soc-links {
  margin-bottom: 37px;
}

.page-footer__dev-by-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  margin-bottom: 14px;
  border-top: 1px solid #f2f2f2;
}

.page-footer__title-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}

.page-footer__dev-by-logo {
  font-size: 0;
}
