.profile-plans {
  padding: 25px;

  background-color: #dfe3f0;
  border-radius: 25px 25px 0 0;

  counter-reset: country-counter;
}

.profile-plans__title {
  margin: 0;

  color: $blue-base;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}

.profile-plans__list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.profile-plans__element {
  padding: 25px;

  background-color: #ffffff;
  border-radius: 8px;
}

.profile-plans__country-path {
  display: flex;
  margin: 0;

  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: $blue-base;

  counter-increment: country-counter;

  &::before {
    content: counter(country-counter) ".";
  }
}

.profile-plans__dates,
.profile-plans__companions {
  margin: 0;

  color: $blue-base;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.profile-plans__change-link {
  margin: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  opacity: 0.3;
}

@media #{$media-between-tablet-desktop} {
  .profile-plans__country-path {
    width: 100%;
    padding: 20px;

    position: relative;

    border-bottom: 1px solid #eff0f4;

    &::before {
      position: absolute;

      top: 50%;
      right: 20px;

      transform: translateY(-50%);
    }
  }

  .profile-plans__companions {
    padding-left: 20px;
    margin: auto 0;
  }

  .profile-plans__dates {
    margin: auto;

    line-height: 45px;
  }

  .profile-plans__change-link {
    margin: auto 0;
    margin-right: 20px;
  }
}

@media #{$media-tablet-more} {
  .profile-plans__element {
    display: flex;
    padding: 0;

    flex-wrap: wrap;
  }
}

@media #{$media-desktop-more} {
  .profile-plans__country-path {
    width: 626px;
  }

  .profile-plans__companions {
    width: 138px;
    margin-right: 40px;
    // margin-left: auto;
  }

  .profile-plans__change-link {
    margin-left: auto;
  }
}
