.profile-add-plan {
  padding: 25px;

  border-radius: 30px 30px 0 0;
  background-color: #d4d9eb;
}

.profile-add-plan__title {
  display: flex;
  align-items: center;
  margin: 0;

  color: $blue-base;
  font-weight: 700;
  line-height: 24px;
  font-size: 24px;

  &::after {
    display: block;
    width: 47px;
    height: 5px;

    margin-left: auto;

    background: url("../../img/dots.svg") no-repeat;

    content: "";
  }
}
