.review {
  width: 53%;
  padding-top: 45px;
  margin: 0 48px;
  margin-bottom: 27px;

  background: $blue-darken;
}

.review__text,
.review__author {
  display: inline-block;
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: #ffffff;
}

.review__text {
  margin-bottom: 18px;
}

.review__author {
  font-weight: 700;
  font-style: normal;
}
