.section-wrapper {
  padding: 31px 25px;
  // padding-bottom: 62px;
  position: relative;

  background-color: #edeff6;
  border-radius: 0 0 30px 30px;

  &_service {
    position: relative;

    background: url("../../img/about-mobile@1x.png") center no-repeat;

    perspective: 1px;

    z-index: 1;

    &::before {
      display: block;
      width: 50px;
      height: 50px;

      position: absolute;
      top: 0;
      right: 0;
      left: 50px;

      background-color: #141b3b;
      border-radius: 20px;

      content: "";
    }
  }

  &_directions {
    padding-top: 69px;
  }

  &_companions {
    padding-top: 98px;
    margin-top: -30px;

    background: #192144;
  }

  &:nth-child(1) {
    z-index: 9;
  }

  &:nth-child(2) {
    z-index: 8;
  }

  &:nth-child(3) {
    z-index: 7;
  }

  &:nth-child(4) {
    z-index: 6;
  }

  &:nth-child(5) {
    z-index: 5;
  }
}

.section-wrapper__title {
  padding-left: 25px;
  margin: 0;
  margin-bottom: 20px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: $orange-text;

  position: relative;
}

.section-wrapper__text {
  width: 89%;
  padding-left: 25px;
  margin: 0;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: #ffffff;

  position: relative;

  &_bold {
    font-weight: 700;
  }

  &_dark {
    color: $text-color;
  }

  &:last-of-type {
    margin-bottom: 51px;
  }
}

.section-wrapper__list {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  padding-top: 10px;

  list-style: none;
}

.section-wrapper__item {
  margin-bottom: 10px;
}

.section-wrapper__more {
  @include link-btn;
  @include triangle-arrow-right; // display: flex

  height: 62px;

  font-size: 18px;
  line-height: 62px;

  padding: 0 25px;
  padding-right: 23px;

  text-align: left;
  text-transform: none;
  border-radius: 10px;

  &_tablet-and-hight {
    display: none;
  }
}

.section-wrapper__list-user-card {
  margin-bottom: 21px;
}

@media #{$media-tablet-more} {
  .section-wrapper {
    padding: 0 75px;
    padding-bottom: 80px;

    border-radius: 0 0 60px 60px;

    &_service {
      padding-top: 36px;
      padding-bottom: 88px;

      &::before {
        width: 688px;
        height: 213px;

        left: 39px;
      }
    }

    &_directions {
      background-image: url("../../img/flags-back@1x.png");
      background-repeat: no-repeat;
      background-position: right;
    }

    &_companions {
      margin-top: -50px;
      padding-top: 185px;
      padding-bottom: 88px;
    }
  }

  .section-wrapper_directions .section-wrapper__title,
  .section-wrapper_companions .section-wrapper__title {
    margin-bottom: 59px;
  }

  .section-wrapper_companions .section-wrapper__text {
    width: 70%;
    margin-bottom: 40px;
  }

  .section-wrapper__title {
    padding: 0;
    margin-bottom: 41px;

    font-size: 45px;
    line-height: 45px;
  }

  .section-wrapper__text {
    width: 49%;
    padding: 0;
    margin-bottom: 33px;

    font-size: 28px;
    line-height: 33px;

    &_bold {
      font-size: 21px;
      line-height: 25px;
    }

    &_dark:last-of-type {
      width: 55%;
      margin-bottom: 99px;
    }
  }

  .section-wrapper_directions .section-wrapper__item:first-child {
    position: relative;

    &::before {
      display: block;
      width: 141px;
      height: 141px;

      position: absolute;
      top: -39px;
      left: -35px;

      background-color: #e2e5f2;
      border-radius: 20px;

      content: "";
    }
  }

  .section-wrapper__item {
    &:last-child {
      position: relative;

      &::after {
        display: block;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 20;

        box-shadow: inset 0 -35px 28px 4px #edeff6;

        pointer-events: none;

        content: "";
      }
    }
  }

  .section-wrapper_companions .section-wrapper__item:first-child {
    position: relative;

    &::before {
      display: block;
      width: 143px;
      height: 143px;

      position: absolute;
      top: -96px;
      left: -35px;

      background-color: #e2e5f2;
      border-radius: 10px;
      opacity: 0.2;

      content: "";
    }
  }

  .section-wrapper_companions .section-wrapper__text_bold {
    margin-bottom: 60px;

    position: relative;
    z-index: 2;
  }

  .section-wrapper__list {
    margin-bottom: 47px;
  }

  .section-wrapper__list-user-card {
    display: flex;
    padding: 0;
    margin-bottom: 69px;

    flex-wrap: wrap;
    justify-content: space-between;
  }

  .section-wrapper__more {
    width: 618px;
    height: 81px;
    margin: 0 auto;
    padding: 0 35px 0 33px;

    font-size: 24px;
    line-height: 81px;

    border-radius: 20px;

    &_tablet-and-hight {
      display: flex;
      width: 274px;
      height: 81px;
      margin: 0;
      padding: 0 36px 0 33px;

      line-height: 81px;
    }
  }
}

@media #{$media-desktop-more} {
  .section-wrapper {
    width: 1320px;
    margin: 0 auto;

    &_service {
      padding: 0;
      padding-top: 55px;
      padding-left: 70px;
      padding-bottom: 163px;
      background: url('../../img/about-desktop@1x.png') right bottom no-repeat;
    }

    &_service::before {
      width: 213px;
      height: 213px;

      left: 0;
    }
  }


  .section-wrapper_service .section-wrapper__text {
    width: 625px;
    margin-bottom: 40px;
  }

  .section-wrapper_service .section-wrapper__title {
    margin-bottom: 60px;
  }

  .section-wrapper_service .section-wrapper__text_bold {
    margin-bottom: 85px;
  }

  .section-wrapper__more {
    width: 274px;
    margin: 0;
  }

  .section-wrapper_directions,
  .section-wrapper_companions {
    display: flex;
    height: 800px;
    flex-wrap: wrap;
    flex-direction: column;

    .section-wrapper__list {
      display: flex;
      flex-direction: column;
      width: 630px;
      height: 100%;
      margin: auto 0;
      padding: 0;

      justify-content: center;
    }
  }

  .section-wrapper_directions .section-wrapper__list {
    order: -1;
  }

  .section-wrapper_companions .section-wrapper__list {
    order: 1;
  }

  .section-wrapper_companions .section-wrapper__text {
    width: 40%;
  }
}
