.slide-controller {
  display: flex;
  padding: 0 25px;
  padding-bottom: 50px;
}

.slide-controller__arrow {
  display: block;
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  font-size: 0;

  border-radius: 20px 0 0 20px;
}

.slide-controller__arrow:nth-child(1) {
  @include triangle-arrow-left;

  &::after {
    margin: auto;
  }
}

.slide-controller__arrow + .slide-controller__arrow {
  margin-left: 1px;
  border-radius: 0 20px 20px 0;

  @include triangle-arrow-right;

  &::after {
    margin: auto;
  }
}
