.smart-counter {
  display: flex;

  flex-wrap: wrap;
}

.smart-counter__title,
.smart-counter__extra {
  color: $blue-base;

  font-weight: 500;
  font-size: 16px;
  line-height: 16px;

  text-transform: uppercase;
}

.smart-counter__extra {
  margin-left: auto;

  opacity: 0.3;
}

.smart-counter__holder {
  display: flex;
  width: 100%;
  height: 45px;

  position: relative;
}

.smart-counter__btn {
  display: block;
  width: 14px;
  height: 14px;
  padding: 0;

  position: absolute;
  left: 10px;
  top: 50%;

  font-size: 0;

  background-color: transparent;
  border: none;

  transform: translateY(-50%);

  &::before,
  &::after {
    display: block;
    width: 14px;
    height: 2px;

    background-color: #cfcfcf;

    transform-origin: 8px 0;

    content: "";
  }

  &::after {
    transform: rotate(90deg);
  }

  &_increment {
    left: auto;
    right: 10px;

    &::after {
      content: none;
    }
  }
}


.smart-counter__input {
  display: block;
  width: inherit;
  height: inherit;
  padding: 0 23px;

  text-align: center;

  border: 1px solid #cbced9;
  border-radius: 4px;
}

@media #{$media-desktop-more} {
  .smart-counter {
    width: 533px;
  }

  .smart-counter__title {
    width: 220px;
  }

  .smart-counter__extra {
    order: 1;
  }

  .smart-counter__holder {
    width: 182px;
  }
}
