.user-card {
  position: relative;
}

.user-card__level {
  position: absolute;
}

.user-card__pic {
  display: block;
  width: 270px;
  height: 270px;

  border-radius: 10px 10px 0 0;
}

.user-card__info {
  padding: 0 45px;

  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
}

.user-card__countries {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: -10px;
  margin-bottom: 9px;

  list-style: none;
}

.user-card__country-card-wrapper {
  margin: 0 10px;
}

.user-card__country-card {
  display: block;
  width: 35px;
  height: 24px;
}

.user-card__full-name {
  margin: 0 auto;
  margin-bottom: 15px;

  text-align: center;
  color: $blue-base;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.user-card__user-name-link {
  position: relative;

  &::before {
    display: block;
    width: 5px;
    height: 5px;

    position: absolute;
    top: 50%;
    left: -16px;

    border-radius: 50%;

    background-color: #f97676;

    transform: translateY(-42%);
    content: "";
  }

  &_online::before {
    background-color: #81e31e;
  }
}

.user-card__tags {
  display: flex;
  margin: 0;
  margin-bottom: 18px;
  flex-wrap: wrap;
  justify-content: center;
}

.user-card__tag {
  margin: 0 2px;

  line-height: 18px;
  font-size: 16px;
}

.user-card__transport-preferences {
  display: flex;
  padding-bottom: 12px;
  justify-content: center;
}

.user-card__transport {
  margin: 0 7px;

  fill: #d9d9d9;

  /*
  &:nth-of-type(1) {
    margin-right: 11px;
  }
  */

  &_active {
    fill: $blue-base;
  }
}
