.user-card-filter {
  padding: 13px 0 22px 0;

  background-color: #ffffff;
  border-radius: 20px;
}

.user-card-filter__pic-wrapper {
  display: block;
  width: 70px;
  height: 70px;
  padding-top: 2px;
  margin-right: 16px;
  margin-bottom: 15px;

  position: relative;
}

.user-card-filter__pic {
  border-radius: 50%;
}

.user-card-filter__visual-info {
  display: flex;
  padding-left: 18px;

  position: relative;
}

.user-card-filter__online-status {
  display: block;
  width: 6px;
  height: 6px;

  position: absolute;
  right: 22px;
  top: 10px;

  font-size: 0;

  background-color: #f97676;
  border-radius: 50%;

  &_online {
    background-color: #81e31e;
  }
}

.user-card-filter__fullname {
  width: 80px;
  margin: 0;
  margin-bottom: 2px;

  color: $blue-base;

  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}

.user-card-filter__popularity {
  display: flex;
  margin: 0;
  margin-left: -37px;
  align-items: center;

  color: $blue-darken;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.user-card-filter__favorite-wrapper {
  display: block;
  width: 31px;
  height: 31px;
  margin-right: 7px;

  font-size: 0;

  position: relative;

  background: #edeff6 url("../../img/heart.svg") center/13px 11px no-repeat;
  border: none;
  border-radius: 50%;

  &_active {
    background: #f9eaea url("../../img/heart-active.svg") center/13px 11px no-repeat;
  }
}

.user-card-filter__tags {
  display: flex;
  margin: 0;
  margin-bottom: 23px;
  padding: 0 25px;
  padding-right: 47px;

  flex-wrap: wrap;
}

.user-card-filter__tag {
  margin-right: 5px;

  font-size: 15px;
  line-height: 18px;
}

.user-card-filter__footer {
  border-top: 1px solid #edeff6;
  display: flex;
  padding: 0 10px;
  padding-left: 13px;
  margin-bottom: 2px;

  justify-content: space-between;
}

.user-card-filter__transport-preferences-wrapper {
  padding: 0;
}

.user-card-filter__transport-preferences-title {
  display: inline-block;
  margin: 0;
  padding: 0 13px;

  position: relative;
  top: -15px;

  font-size: 15px;
  line-height: 18px;

  background-color: #ffffff;
}

.user-card-filter__transport-preferences-list {
  display: flex;
}

.user-card-filter__level,
.user-card-filter___transport-preferences-wrapper {
  position: relative;
  top: -17px;
}

.user-card-filter__level-title,
.user-card-filter___transport-preferences-title {
  display: inline-block;
  margin: 0;
  padding: 0 13px;

  font-size: 15px;
  line-height: 18px;

  background-color: #ffffff;
}

.user-card-filter___transport-preferences-title {
  margin-bottom: 17px;
}

.user-card-filter___transport-preferences-list {
  display: flex;
  flex-wrap: wrap;

  padding-left: 12px;
}

.user-card-filter___transport {
  display: block;
  width: 32px;
  height: 32px;
  padding: 5px;

  background-color: #edeff6;
  border-radius: 50%;
}

.user-card-filter__link-btn {
  margin: 0 auto;
}

.user-card-filter__want-visit {
  margin-bottom: 22px;
}


@media #{$media-tablet-more} {
  .user-card-filter {
    display: flex;
    flex-wrap: wrap;
    width: 688px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .user-card-filter__pic-wrapper {
    width: 190px;
    height: 190px;
  }

  .user-card-filter__pic {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }

  .user-card-filter__fullname {
    white-space: nowrap;
  }

  .user-card-filter__want-visit {
    order: 1;
  }
}

@media #{$media-desktop-more} {
  .user-card-filter {
    width: 950px;
    margin-bottom: 30px;
  }
}
