
@mixin link-btn {
  display: block;
  width: 270px;
  height: 50px;

  background: $yellow-base no-repeat;
  border: none;
  border-radius: 25px;

  color: $blue-darken;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;

  /*
  NOPE
  @media #{$media-tablet-more} {
    font-size: 20px;
    width: 148px;
  }
  */
}

@mixin triangle-arrow-right {
  display: flex;

  &::after {
    display: block;

    margin: auto;
    margin-right: 0;

    border: 10px solid #1d2e5b;

    border-left-width: 10px;

    border-right-width: 0;
    border-top-color: transparent;
    border-bottom-color: transparent;

    content: "";
  }
}

@mixin triangle-arrow-left {
  @include triangle-arrow-right;

  &::after {
    border-left-width: 0;
    border-right-width: 11px;
  }
}

@mixin cross-before {
  display: inline-block;
  padding-left: 20px;

  position: relative;

  &::before,
  &::after {
    display: block;
    width: 18px;
    height: 2px;

    position: absolute;
    top: 50%;
    left: -10px;

    background-color: $blue-base;

    content: "";
  }

  &::after {
    transform: rotate(90deg);
  }
}
