
@mixin link-btn {
  display: block;
  width: 270px;
  height: 50px;

  background: $yellow-base no-repeat;
  border: none;
  border-radius: 25px;

  color: $blue-darken;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
}

@mixin triangle-arrow-right {
  display: flex;

  &::after {
    display: block;

    margin: auto;
    margin-right: 0;

    border: 7px solid #1d2e5b;

    border-left-width: 10px;

    border-right-width: 0;
    border-top-color: transparent;
    border-bottom-color: transparent;

    content: "";
  }
}
